<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Site Block</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"> <!-- інсертім шапку -->

</header>


<div class="container mt-5 mb-5">
    <h1>Редагування статті</h1>
       <div th:each="el : ${post}">
         <form method="post"> <!-- обробка запиту буде там же на якій сторінці ми є-->
        <input type="text" th:value="${el.title}" name="title" placeholder="add your blog name" class="form-control"><br>
        <input type="text" th:value="${el.anons}" name="anons" placeholder="add anons" class="form-control"><br>
        <textarea name="full_text"  placeholder="add full text here" class="form-control" th:text="${el.full_text}" /><br>
        <button type="submit" class="btn btn-success">Update</button> <!-- при натисканні данні будуть відправлятися на сервер-->
        </form>
     </div>
</div>

<div th:insert="blocks/footer :: footer"> <!-- інсертім футер -->

</div>

</body>
</html>